body{
  background: #000;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#main{
  position:absolute;
  top:20%;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin:0;
  width: 425px;
  height:auto;
  background:#222;
  z-index:-1000;
}

div{
  width: 50px;
  height:50px;
  font-size: 35px;
  background: #add;
  margin: 5px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#cover-container{
  position:absolute;
  top:20%;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin:0;
  width: 425px;
  height:auto;
  background:none;
  z-index:1000;
}

#cover-container div{
  background:#555;
  z-index:1000;
}

#clicks{
  color:#ddd
}
#victory{
  color:#ddd
}
.button{
  position:absolute;
  bottom:10vh;
  width:5em;
  text-align: center;
}
h1{
  text-align: center;
}
